@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    body {
        color: #3e3e3e;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 1.25;
    }

    #rules li::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 8.5px;
        border-radius: 50%;
        background-color: attr(data-valid);
    }
}

@layer components {
    .center {
        @apply flex justify-center items-center;
    }
    .navbar {
        @apply flex justify-center sm:justify-between items-center lg:bg-white h-[72px] w-full 
            border-b border-gray-200 py-3 px-6;
    }
    .main-container {
        @apply absolute bottom-0 bg-white lg:relative max-h-[calc(100vh-72px)] 
            h-full w-full center items-start sm:items-center flex-1 overflow-scroll no-scrollbar
    }
    .sub-container {
        @apply flex flex-col-reverse py-6 sm:flex-col gap-6 sm:py-[100px] px-4 sm:px-0 
            w-full h-full justify-end items-center;
    }
    .input { 
        @apply w-full py-[10px] px-2 rounded border border-gray-200 self-stretch 
            flex-grow-0 flex focus:outline-none focus:border-2 focus:border-gray-300; 
    }
    .anchor {
        @apply text-[#77c1ff] hover:text-[#3ca4fc];
    }
    .social-link {
        /* TODO: Manage truly shadows */
        @apply w-12 h-12 rounded p-[10px] border border-gray-200 shadow-sm opacity-90 
            hover:scale-105 transition hover:opacity-100;
    }
    .progress-btn {
        @apply rounded py-[10px] px-6 opacity-90 hover:opacity-100 w-full sm:w-auto 
            transition disabled:bg-disabled disabled:text-disabled-dark;
    }
    .btn-secondary {
        @apply border border-primary-light text-primary bg-primary-lighter;
    }
    .btn-primary {
        @apply bg-primary text-white;
    }
    .progress-point {
        @apply w-2 h-2 rounded-full;
    }
    .password-rules {
        @apply text-xs text-disabled-dark tracking-[0.05px] leading-[1.67] sm:w-[430px];
    }
    .rule-passed {
        @apply before:bg-green-400 before:border-none;
    }
    .rule-unfinished {
        @apply before:border before:border-disabled-dark;
    }
    .pin-code {
        @apply border w-[34px] h-[46px] rounded border-disabled-light text-center;
    }
    .btn-group {
        @apply absolute bottom-6 sm:relative sm:bottom-0 flex items-center gap-4
            self-center sm:self-start w-full px-4 sm:px-0;
    }
}